Artifacts/CDF/cdf-flowdefinition-Weather_to_Kafka.json
{"flowContents":{"identifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Current & 5 Day Forecast Weather","comments":"Queries api.openweathermap.org for the current and 5-day weather forecast on an hourly basis, for the US cities Atlanta, Miami, New York, Boston, Chicago, Dallas, Phoenix, Los Angeles, San Francisco, and Seattle.  Produces one Avro record per city each hour.\n\nThe Avro Schema is identical to the JSON schema of the API, except that the \"3h\" field is renamed to \"_3h\", since Avro does not support fields starting with a number.\n\nRequires Parameter 'api.key': The Openweathermap API key","position":{"x":1560.0,"y":-456.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"022a006b-8df1-341e-9a87-ce5862270b65","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\".","position":{"x":2208.0,"y":-256.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\"3h\"","Replacement Value":"\"_3h\"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":100,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"c3eef33d-5835-3627-aafe-e85ab8d156da","name":"Get current weather in JSON","comments":"Requires #{api.key} parameter","position":{"x":960.0,"y":-112.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.openweathermap.org/data/2.5/weather?id=${city.id}&appid=#{api.key.current}\n","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 min","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"f9bfc532-0320-3a76-a75c-f6c3f87a8766","name":"Get 5-day forecast in JSON","comments":"Requires #{api.key} parameter","position":{"x":2200.0,"y":-504.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.openweathermap.org/data/2.5/forecast?id=${city.id}&appid=#{api.key}","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 min","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"5c141f70-b613-38e7-9d23-69913014d763","name":"Generate city.id list","comments":"City IDs are as follows:\nAtlanta\nMiami\nNew York\nBoston\nChicago\nDallas\nPhoenix\nLos Angeles\nSan Francisco\nSeattle","position":{"x":904.0,"y":-864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"4180439\n4164138\n5128581\n4930956\n4887398\n4684888\n5308655\n5368361\n5391959\n5809844","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 hour","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"b243c868-45d5-3e1b-ae80-2fab1642686f","name":"Rename field \"1h\" -> \"_1h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\".","position":{"x":944.0,"y":344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\"1h\"","Replacement Value":"\"_1h\"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":100,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"8890ca86-a04e-396d-8e8b-c92f4517de0e","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":944.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"d03535e7-b170-3f23-8245-c201f965af6c","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","record-reader":"539fccf9-68cd-3947-9770-156cf02e12c5","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"all","security.protocol":"SASL_SSL","ssl.context.service":"a67d6673-18da-3ee1-bbba-48a97a0b2894","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Current Weather Topic Name}","sasl.password":"#{CDP Workload User Password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"77b15f58-9785-3f73-80dd-be1b16e2f3e5","name":"Split cities","comments":"","position":{"x":1512.0,"y":-864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"34be0fcb-7f76-383b-9c65-120e1a23f777","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":1952.0,"y":616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"ae9d3bb8-0dab-3975-a669-9487b9a3fc10","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","record-reader":"5fe3b928-bbed-3cf3-8f83-3c2523710adf","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"all","security.protocol":"SASL_SSL","ssl.context.service":"a67d6673-18da-3ee1-bbba-48a97a0b2894","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Weather Forecast Topic Name}","sasl.password":"#{CDP Workload User Password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"1001d4a7-9478-39b8-bd3a-2a3b2360c3ec","name":"Extract city.id","comments":"","position":{"x":1480.0,"y":-608.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","city.id":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"extract-text-enable-named-groups","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"city.id":{"name":"city.id","displayName":"city.id","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"c1550c19-132d-3a51-b1b0-dde94b75a56a","name":"Set filename","comments":"","position":{"x":3144.0,"y":368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${city.name}-${now():toNumber()}.avro","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"151a1609-afde-332c-9f79-102f15afab23","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\".","position":{"x":952.0,"y":128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\"3h\"","Replacement Value":"\"_3h\"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":100,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"37527baf-3802-3413-8a00-84f62c060636","name":"ConvertRecord","comments":"","position":{"x":3112.0,"y":120.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"03c38b62-0e1b-36be-9abd-6662b9dd2cf7","record-reader":"5fe3b928-bbed-3cf3-8f83-3c2523710adf","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"b1fc8d70-7cd1-3105-ae86-960bab355b0a","name":"Extract city.name","comments":"","position":{"x":3128.0,"y":-112.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.1.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","city.name":"$.city.name","Return Type":"scalar","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"city.name":{"name":"city.name","displayName":"city.name","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"inputPorts":[],"outputPorts":[{"identifier":"99450509-bd1b-3c99-a0d4-9fa29ddb422d","name":"Weather Forecast Avro","comments":"","position":{"x":3248.0,"y":688.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"connections":[{"identifier":"3214ee17-1598-3547-8541-cdcea54a9377","name":"","source":{"id":"f9bfc532-0320-3a76-a75c-f6c3f87a8766","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get 5-day forecast in JSON","comments":"Requires #{api.key} parameter"},"destination":{"id":"f9bfc532-0320-3a76-a75c-f6c3f87a8766","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get 5-day forecast in JSON","comments":"Requires #{api.key} parameter"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2676.6568603515625,"y":-467.00237464904785},{"x":2676.6568603515625,"y":-417.00237464904785}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"92e2edf7-3be5-3b5a-9871-9255d446890a","name":"","source":{"id":"34be0fcb-7f76-383b-9c65-120e1a23f777","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"destination":{"id":"c14c6bef-95f2-300d-b56d-537a643112ef","type":"FUNNEL","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"54e1f120-37cd-394d-808e-1c6689ec664c","name":"","source":{"id":"1001d4a7-9478-39b8-bd3a-2a3b2360c3ec","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Extract city.id","comments":""},"destination":{"id":"c3eef33d-5835-3627-aafe-e85ab8d156da","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get current weather in JSON","comments":"Requires #{api.key} parameter"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"8e340e64-be51-31b3-b651-ddfbf351ba4b","name":"","source":{"id":"37527baf-3802-3413-8a00-84f62c060636","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"ConvertRecord","comments":""},"destination":{"id":"c1550c19-132d-3a51-b1b0-dde94b75a56a","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Set filename","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"75c8e06b-e0c7-304f-b6cb-a2f519e81bd9","name":"","source":{"id":"5c141f70-b613-38e7-9d23-69913014d763","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Generate city.id list","comments":"City IDs are as follows:\nAtlanta\nMiami\nNew York\nBoston\nChicago\nDallas\nPhoenix\nLos Angeles\nSan Francisco\nSeattle"},"destination":{"id":"77b15f58-9785-3f73-80dd-be1b16e2f3e5","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Split cities","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"91ba51d1-ef12-3641-ae24-d6c1112b0fbc","name":"","source":{"id":"022a006b-8df1-341e-9a87-ce5862270b65","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"destination":{"id":"34be0fcb-7f76-383b-9c65-120e1a23f777","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"9570216e-c112-32b4-8389-4715aae99827","name":"","source":{"id":"c3eef33d-5835-3627-aafe-e85ab8d156da","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get current weather in JSON","comments":"Requires #{api.key} parameter"},"destination":{"id":"151a1609-afde-332c-9f79-102f15afab23","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"7763321d-66ac-34b5-83ac-6e6732058881","name":"","source":{"id":"b243c868-45d5-3e1b-ae80-2fab1642686f","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"1h\" -> \"_1h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"destination":{"id":"8890ca86-a04e-396d-8e8b-c92f4517de0e","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"111d3988-d14f-30fa-8961-5952773b1f16","name":"","source":{"id":"34be0fcb-7f76-383b-9c65-120e1a23f777","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"destination":{"id":"9ac7abc0-e4a5-3e70-9e62-76043bf27de2","type":"FUNNEL","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"f3bb76a7-87ac-3a33-b6d4-e021ee14ff77","name":"","source":{"id":"151a1609-afde-332c-9f79-102f15afab23","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"destination":{"id":"b243c868-45d5-3e1b-ae80-2fab1642686f","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"1h\" -> \"_1h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"72e63f66-5ebb-375d-8794-094de2c59c71","name":"","source":{"id":"b1fc8d70-7cd1-3105-ae86-960bab355b0a","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Extract city.name","comments":""},"destination":{"id":"37527baf-3802-3413-8a00-84f62c060636","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"dcd63130-f1c9-39ad-96df-68684f97afa1","name":"","source":{"id":"8890ca86-a04e-396d-8e8b-c92f4517de0e","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"destination":{"id":"ac6ebdf3-9742-354b-b592-cad716d745ff","type":"FUNNEL","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"1a1149cd-d472-3cef-81ed-0c6d5150ac7e","name":"","source":{"id":"77b15f58-9785-3f73-80dd-be1b16e2f3e5","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Split cities","comments":""},"destination":{"id":"1001d4a7-9478-39b8-bd3a-2a3b2360c3ec","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Extract city.id","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"fc0fd892-b231-3567-8589-d4ffdb2bd3b4","name":"","source":{"id":"1001d4a7-9478-39b8-bd3a-2a3b2360c3ec","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Extract city.id","comments":""},"destination":{"id":"f9bfc532-0320-3a76-a75c-f6c3f87a8766","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get 5-day forecast in JSON","comments":"Requires #{api.key} parameter"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"2e9d815f-4b3f-342a-a72d-426489368d45","name":"","source":{"id":"8890ca86-a04e-396d-8e8b-c92f4517de0e","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"PublishKafkaRecord_2_6","comments":""},"destination":{"id":"748f9d58-f782-3ee8-9832-b5e98e6b93c1","type":"FUNNEL","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"45c6bf3d-bc4c-3e57-b197-6716c5491a44","name":"","source":{"id":"37527baf-3802-3413-8a00-84f62c060636","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"ConvertRecord","comments":""},"destination":{"id":"37527baf-3802-3413-8a00-84f62c060636","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3584.591796875,"y":155.45014190673828},{"x":3584.591796875,"y":205.45014190673828}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"9f5ea1bc-ec90-314d-9b1a-7043baf2fc0c","name":"","source":{"id":"f9bfc532-0320-3a76-a75c-f6c3f87a8766","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get 5-day forecast in JSON","comments":"Requires #{api.key} parameter"},"destination":{"id":"022a006b-8df1-341e-9a87-ce5862270b65","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Rename field \"3h\" -> \"_3h\"","comments":"Avro does not support fields starting with a number, so we rename \"3h\" to \"_3h\"."},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"232e0c57-1e43-38c0-ba33-a65927dd7c1c","name":"","source":{"id":"c3eef33d-5835-3627-aafe-e85ab8d156da","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get current weather in JSON","comments":"Requires #{api.key} parameter"},"destination":{"id":"c3eef33d-5835-3627-aafe-e85ab8d156da","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Get current weather in JSON","comments":"Requires #{api.key} parameter"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1429.0,"y":-73.0},{"x":1424.0,"y":72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"f5570a29-289f-3f84-9021-fc4b8b1929bf","name":"","source":{"id":"c1550c19-132d-3a51-b1b0-dde94b75a56a","type":"PROCESSOR","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Set filename","comments":""},"destination":{"id":"99450509-bd1b-3c99-a0d4-9fa29ddb422d","type":"OUTPUT_PORT","groupId":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658","name":"Weather Forecast Avro","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"labels":[{"identifier":"dcce5f08-5a17-3260-ad31-6c93d64dceab","position":{"x":776.0,"y":-1000.0},"label":"Common Data Prep","width":1112.0,"height":680.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"1f57eab4-d829-3fdd-bd0f-21cf93778f16","position":{"x":2040.0,"y":-528.0},"label":"Weather Forecast","width":896.0,"height":1120.0,"style":{"background-color":"#d6fffa","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"f96ae53e-274a-3a12-900c-febdd18c7a75","position":{"x":776.0,"y":-208.0},"label":"Current Weather","width":680.0,"height":800.0,"style":{"background-color":"#ffe6d6","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"26897041-ebc3-39da-b5c2-7cb82564e39f","position":{"x":720.0,"y":608.0},"label":"Write To Kafka","width":1872.0,"height":416.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"funnels":[{"identifier":"9ac7abc0-e4a5-3e70-9e62-76043bf27de2","position":{"x":1832.0,"y":960.0},"componentType":"FUNNEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"748f9d58-f782-3ee8-9832-b5e98e6b93c1","position":{"x":1376.0,"y":936.0},"componentType":"FUNNEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"ac6ebdf3-9742-354b-b592-cad716d745ff","position":{"x":981.8118608810178,"y":934.8332427154696},"componentType":"FUNNEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"c14c6bef-95f2-300d-b56d-537a643112ef","position":{"x":2360.0,"y":968.0},"componentType":"FUNNEL","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"controllerServices":[{"identifier":"ae9d3bb8-0dab-3975-a669-9487b9a3fc10","name":"Weather Forecast JSON Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"WeatherForecast","schema-registry":"089783c6-dd95-3161-b1c2-f8b2a17f69aa","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"d03535e7-b170-3f23-8245-c201f965af6c","name":"Current Weather JSON Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"WeatherCurrent","schema-registry":"089783c6-dd95-3161-b1c2-f8b2a17f69aa","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"39e2e556-82a2-31e2-b42e-a82cfde3790a","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"5fe3b928-bbed-3cf3-8f83-3c2523710adf","name":"Weather Forecast JSON Tree Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"Timestamp Format":"yyyy-MM-dd HH:mm:ss","schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"#{Schema Name}","schema-registry":"089783c6-dd95-3161-b1c2-f8b2a17f69aa","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"539fccf9-68cd-3947-9770-156cf02e12c5","name":"CurrentWeatherJSONReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"WeatherCurrent","schema-registry":"089783c6-dd95-3161-b1c2-f8b2a17f69aa","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"089783c6-dd95-3161-b1c2-f8b2a17f69aa","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"a67d6673-18da-3ee1-bbba-48a97a0b2894","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","url":"#{Schema Registry URL}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"65bb8255-2f63-31cb-9106-326d8c12357b","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"avro-reg-validated-field-names":"true","Weather Forecast":"{\n  \"name\": \"WeatherForecast\",\n  \"type\": \"record\",\n  \"namespace\": \"org.openweathermap.api\",\n  \"fields\": [{\n      \"name\": \"cod\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"message\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"cnt\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"list\",\n      \"default\": null,\n      \"type\": [\n        \"null\",\n        {\n          \"type\": \"array\",\n          \"items\": {\n            \"name\": \"list_record\",\n            \"type\": \"record\",\n            \"fields\": [{\n                \"name\": \"dt\",\n                \"type\": [\"null\", \"int\"],\n                \"default\": null\n              },\n              {\n                \"name\": \"main\",\n                \"default\": null,\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"main\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                        \"name\": \"temp\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"feels_like\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"temp_min\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"temp_max\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"pressure\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"sea_level\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"grnd_level\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"humidity\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"temp_kf\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      }\n                    ]\n                  }\n                ]\n              },\n              {\n                \"name\": \"weather\",\n                \"type\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"name\": \"weather_record\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                        \"name\": \"id\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"main\",\n                        \"type\": [\"null\", \"string\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"description\",\n                        \"type\": [\"null\", \"string\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"icon\",\n                        \"type\": [\"null\", \"string\"],\n                        \"default\": null\n                      }\n                    ]\n                  }\n                }\n              },\n              {\n                \"name\": \"clouds\",\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"clouds\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                      \"name\": \"all\",\n                      \"type\": [\"null\", \"int\"],\n                      \"default\": null\n                    }]\n                  }\n                ],\n                \"default\": null\n              },\n              {\n                \"name\": \"wind\",\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"wind\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                        \"name\": \"speed\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"deg\",\n                        \"type\": [\"null\", \"int\"],\n                        \"default\": null\n                      },\n                      {\n                        \"name\": \"gust\",\n                        \"type\": [\"null\", \"float\"],\n                        \"default\": null\n                      }\n                    ]\n                  }\n                ],\n                \"default\": null\n              },\n              {\n                \"name\": \"visibility\",\n                \"type\": [\"null\", \"int\"],\n                \"default\": null\n              },\n              {\n                \"name\": \"pop\",\n                \"type\": [\"null\", \"float\"],\n                \"default\": null\n              },\n              {\n                \"name\": \"rain\",\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"rain\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                      \"name\": \"_3h\",\n                      \"type\": [\"null\", \"float\"],\n                      \"default\": null\n                    }]\n                  }\n                ],\n                \"default\": null\n              },\n              {\n                \"name\": \"snow\",\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"snow\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                      \"name\": \"_3h\",\n                      \"type\": [\"null\", \"float\"],\n                      \"default\": null\n                    }]\n                  }\n                ],\n                \"default\": null\n              },\n              {\n                \"name\": \"sys\",\n                \"type\": [\n                  \"null\",\n                  {\n                    \"name\": \"sys\",\n                    \"type\": \"record\",\n                    \"fields\": [{\n                      \"name\": \"pod\",\n                      \"type\": [\"null\", \"string\"],\n                      \"default\": null\n                    }]\n                  }\n                ],\n                \"default\": null\n              },\n              {\n                \"name\": \"dt_txt\",\n                \"type\": [\"null\", \"string\"],\n                \"default\": null\n              }\n            ]\n          }\n        }\n      ]\n    },\n    {\n      \"name\": \"city\",\n      \"default\": null,\n      \"type\": [\n        \"null\",\n        {\n          \"name\": \"city\",\n          \"type\": \"record\",\n          \"fields\": [{\n              \"name\": \"id\",\n              \"type\": [\"null\", \"int\"],\n              \"default\": null\n            },\n            {\n              \"name\": \"name\",\n              \"type\": [\"null\", \"string\"],\n              \"default\": null\n            },\n            {\n              \"name\": \"coord\",\n              \"default\": null,\n              \"type\": [\n                \"null\",\n                {\n                  \"name\": \"coord\",\n                  \"type\": \"record\",\n                  \"fields\": [{\n                      \"name\": \"lat\",\n                      \"type\": [\"null\", \"float\"],\n                      \"default\": null\n                    },\n                    {\n                      \"name\": \"lon\",\n                      \"type\": [\"null\", \"float\"],\n                      \"default\": null\n                    }\n                  ]\n                }\n              ]\n            },\n            {\n              \"name\": \"country\",\n              \"type\": [\"null\", \"string\"],\n              \"default\": null\n            },\n            {\n              \"name\": \"timezone\",\n              \"type\": [\"null\", \"int\"],\n              \"default\": null\n            },\n            {\n              \"name\": \"sunrise\",\n              \"type\": [\"null\", \"int\"],\n              \"default\": null\n            },\n            {\n              \"name\": \"sunset\",\n              \"type\": [\"null\", \"int\"],\n              \"default\": null\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"Weather Forecast":{"name":"Weather Forecast","displayName":"Weather Forecast","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"},{"identifier":"03c38b62-0e1b-36be-9abd-6662b9dd2cf7","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.1.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.1.0-56"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ce4a683c-3d5e-3bb3-9945-f19e7d4fc658"}],"variables":{},"parameterContextName":"Weather Forecast Context","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"a67d6673-18da-3ee1-bbba-48a97a0b2894":{"identifier":"a67d6673-18da-3ee1-bbba-48a97a0b2894","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"Weather Forecast Context":{"name":"Weather Forecast Context","parameters":[{"name":"CDP Workload User Password","description":"","sensitive":true},{"name":"Current Weather Topic Name","description":"","sensitive":false,"value":"weather"},{"name":"CDP Workload User","description":"","sensitive":false,"value":"alpha_intcookieuser"},{"name":"Schema Registry URL","description":"","sensitive":false,"value":"https://mram-smm-master0.mram-wor.ummd-fsio.int.cldr.work:7790/api/v1"},{"name":"api.key","description":"","sensitive":false,"value":"33e55108b9fe76b9373fd760f755cdad"},{"name":"Topic Name","description":"","sensitive":false,"value":"weather_forecast"},{"name":"Kafka Brokers","description":"","sensitive":false,"value":"mram-smm-broker2.mram-wor.ummd-fsio.int.cldr.work:9093,mram-smm-broker1.mram-wor.ummd-fsio.int.cldr.work:9093,mram-smm-broker0.mram-wor.ummd-fsio.int.cldr.work:9093"},{"name":"api.key.current","description":"","sensitive":false,"value":"33e55108b9fe76b9373fd760f755cdad"},{"name":"Schema Name","description":"","sensitive":false,"value":"WeatherForecast"},{"name":"Weather Forecast Topic Name","description":"","sensitive":false,"value":"weather_forecast"}]}},"flowEncodingVersion":"1.0"}